#form-header {
    position: fixed;
    z-index: 100;
    background-color: #fff;
  }
  
  #form-header > h4 {
    padding-right: 550px !important;
    color: #33515c;
  }
  
  #form-card {
    margin-top: 75px;
  }
  #table-card {
      margin-top: 15px;
    }
  
  h6 {
    color: #8e8f8f;
    font-weight: 300;
  }
  
  /* ---------------------------------------------------------- */
  
  form .field {
    align-items: center;
  }
  
  .input-field {
    display: flex;
    flex-direction: column;
    margin: 4px 0;
    flex-wrap: wrap;
  }
  
  .input-field label {
    font-size: 10px;
    font-weight: 800;
    color: #2e2e2e;
  }
  
  .input-field input {
    outline: none;
    border: 1px solid #aaa;
    height: 32px;
    margin: 8px 0 14px;
    font-size: 12px;
    font-weight: 400;
    color: #333;
    border-radius: 1px;
    padding: 0 10px !important;
  }
  
  select {
    outline: none;
    border: 1px solid #aaa;
    height: 32px;
    margin: 8px 0 14px;
    font-size: 12px;
    font-weight: 400;
    color: #333;
    border-radius: 1px;
    padding: 0 10px !important;
  }
  
  .input-field textarea {
      outline: none;
      border: 1px solid #aaa;
      height: 72px;
      margin: 8px 0 14px;
      font-size: 12px;
      font-weight: 400;
      color: #333;
      border-radius: 1px;
      padding: 4px 10px !important;
    }
  
  .input-field input:is(:focus, :valid) {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.13);
  }
  
  .input-field select:is(:focus, :valid) {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.13);
  }
  
  .input-field input[type="date"] {
    color: #707070;
  }
  
  .input-field input[type="date"]:valid {
    color: #333;
  }
  
  form button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    max-width: 200px;
    width: 100%;
    margin: 15px 0;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 1px;
    background-color: #4070f4;
    transition: all 0.3s linear;
    cursor: pointer;
  }
  
  form button:hover {
    background-color: rgb(0 33 88);
    color: white;
  }
  
  /* Styles for Update Button */
  .resource-btn {
    display: flex;
    justify-content: space-around !important;
    justify-content: center;
    height: 35px;
    border: 2px solid black;
    border-color: #2196F3;
    color: dodgerblue;
    max-width: 200px;
    width: 25%;
    margin: 8px 0px 14px;
    color: rgb(0 33 88);
    border-radius: 2px;
    background-color: rgb(255, 255, 255);
    transition: all 0.3s linear;
    cursor: pointer;
    box-shadow: none !important;
  }
  
  .resource-btn:hover {
    background-color: rgb(0 33 88);
    color: white !important;
  }
  
  /* Styles for Update Button */
  .resource-btn-add {
    display: flex;
    justify-content: space-around !important;
    justify-content: center;
    height: 20px;
    width: 25%;
    color: rgb(0 33 88);
    border-radius: 2px;
    background-color: rgb(255, 255, 255);
    transition: all 0.3s linear;
    cursor: pointer;
    box-shadow: none !important;
    padding: 0%;
    margin: 0%;
  }
  .resource-btn-add:hover {
    background-color: rgb(153, 186, 241);
    color: rgb(0 33 88) !important;
  }
  
  .task-btn {
    height: 35px;
    border: 2px solid black;
    border-color: #2196F3;
    color: dodgerblue;
    width: 100%;
    color: rgb(0 33 88);
    border-radius: 2px;
    background-color: rgb(255, 255, 255);
    transition: all 0.3s linear;
    cursor: pointer;
    box-shadow: none !important;
  }
  .task-btn:hover {
    background-color: rgb(153, 186, 241);
    color: rgb(0 33 88) !important;
  }
  .d-none {
    display: none !important;
  }
  
  /* Hide Input Number Arrows */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  .error {
    border-color: rgb(255, 0, 0) !important;
  }
  
  /* Setting Placeholder and Text Color in to red */
  .placeholder-set::placeholder {
    color: red !important;
  }
  
  .option-color-set {
    color: red !important;
  }
  option:not(:first-of-type) {
    color: #333;
  }
  