#form-header {
  position: fixed;
  z-index: 100;
  background-color: #fff;
}

#form-header > h4 {
  color: #33515c;
}

#form-card {
  margin-top: 75px;
}

/* ---------------------------------------------------------- */

form .field {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.input-field {
  display: flex;
  flex-direction: column;
  margin: 4px 0;
  /* flex-wrap: wrap; */
}

.input-field label {
  font-size: 12px;
  font-weight: 800;
  color: #2e2e2e;
}

.input-field input {
  outline: none;
  border: 1px solid #aaa;
  height: 36px;
  margin: 8px 0 14px;
  font-size: 14px;
  font-weight: 400;
  color: #333;
  border-radius: 2px;
  padding: 0 15px;
}

select {
  outline: none;
  border: 1px solid #aaa;
  height: 36px;
  margin: 8px 0 14px;
  font-size: 14px;
  font-weight: 400;
  color: #333;
  border-radius: 2px;
  padding: 0 15px;
}

.input-field input:is(:focus, :valid) {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.13);
}

.input-field select:is(:focus, :valid) {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.13);
}

.input-field input[type="date"] {
  color: #707070;
}

.input-field input[type="date"]:valid {
  color: #333;
}

form button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  max-width: 200px;
  width: 100%;
  margin: 25px 0;
  border: none;
  outline: none;
  color: #fff;
  border-radius: 2px;
  background-color: #4070f4;
  transition: all 0.3s linear;
  cursor: pointer;
}

form button:hover {
  background-color: #265df2;
}

.d-none{
  display: none !important;
}


/* Hide Input Number Arrows */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.blur-overlay {
  backdrop-filter: blur(2px);
  background-color: rgba(0, 0, 0, 0.5);
}

/* Table Styling */

th {
  background-color: rgb(0 33 88) !important;
  /* background-color: rgb(10 10 41) !important; */
  color: white;
}

